.product-details {
  display: flex;
  gap: 40px;
  padding: 80px 60px;
  background-color: black;
  color: white;
  flex-wrap: wrap;
}

.product-img {
  flex: 1;
  min-width: 300px;
}

.product-img img {
  width: 100%;
  border-radius: 10px;
}

.thumbs {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.thumbs img {
  width: 60px;
  border-radius: 6px;
  cursor: pointer;
}

.product-info {
  flex: 1;
  min-width: 300px;
}

.product-info h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.product-info p {
  margin: 10px 0;
  color: #ccc;
}

.product-info h3 {
  margin: 20px 0;
  color: #3ef4e2;
}

.action button {
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
}

.add {
  background-color: #fff;
  color: black;
}

.buy {
  background-color: #3ef4e2;
  color: black;
}
